<!-- prettier-ignore -->
{% extends "layouts/base.html" %}
{% block title %}Hello!{% endblock %}
{% block content %}
<div
  class="flex flex-col text-[#2a2e30] items-center flex-1 bg-[#f5f6f7] w-full "
>
  {% include "components/navbar.html" %}
  <div class="flex flex-col flex-1 max-w-7xl m-20 px-3 opacity-0 animate-in">
    <main class="flex flex-col items-center flex-1 gap-6">
      <h2 class="text-6xl font-bold text-center">
        Make sharing content
        <span class="text-[rgb(234,198,67)]">easy</span>
      </h2>

      <div class="mb-4 text-2xl font-light text-center">
        <span class="font-light">
          Create short links, QR Codes, Link-in-bio pages and share them.
        </span>
        <br />
        <span> Have the insights of your audience and manage your links. </span>
      </div>
      {% include "components/tabs.html" %}
    </main>
  </div>
  {% include "components/companies.html" %}
  {% include "components/landing_cta.html" %}
  {% include "components/footer.html" %}
</div>
{% endblock %}
